<div class="container text-center mt-5">
  <h1 class="mb-2">Welcome to Airbnb</h1>
 <h4>travel and explore</h4>

  <div class="row first-form mt-3">
    <div class="col-2"></div>


    <div class="col">

      <form action="/flats" method="get">

      <div class="first-form-inputs mt-1 mb-3">
      <div class="location-div">
        <label for="location" class="mb-3"> Location</label>
        <input type="text" name="Location" class="form-control" id="form-start" placeholder="ex: Paris">
      </div>
      <div class="start-div">
        <label for="start" class="mb-3">Start date</label>
        <input type="date" name="start" class="form-control" id="start-date">
      </div>
      <div class="end-div">
          <label for="end" class="mb-3">End date</label>
          <input type="date" name="end" class="form-control" id="start-date">
      </div>
      <div class="guest-div">
        <label for="guests" class="mb-3">Guests</label>
        <input type="number" name="guests" class="form-control" id="form-end">
      </div>
      </div>
        <input type="submit" class="submit-first btn mt-3 go-btn" value="Go!">
      </form>

    </div>
      <div class="col-2"></div>
  </div>
