<div class="container text-center">
  <h1 class="mb-5">Welcome to Airbnb</h1>
  <p></p>
  <span data-controller="typed-js"></span>
  <p></p>
  <div class="row first-form">
    <div class="col-1"></div>
    <div class="col-10">
      <form action="/flats" method="get">
        <label for="start">Start date:</label>
        <input type="date" name="start">
        <label for="end">End date:</label>
        <input type="date" name="end">
        <label for="guests">Guests:</label>
        <input type="number" name="guests">
        <input type="submit" class="btn btn-success" id="btn-log-out" value="Go!">
      </form>
    </div>
    <div class="col-1"></div>
  </div>
</div>
