.submit-button {
  margin-top: 10px;
}

#go {
  padding: 3px 24px;
  &:hover {
    color: white;
  }
}

#edit {
  padding: 0;
  padding-left: 15px;
  font-size: 15px;
  align-self: center;
}

#pencil {
  align-self: center;
  padding-right: 14px;
  transform: rotate(93deg);
    padding-left: 14px;
}

.btn:hover {
  color: white;
}

#book-btn {
  width: 270px;
}
