.flat-card {
border: 1px solid rgba(202, 202, 202, 0.329);
padding: 0px;

h3 {
  text-align: center;
}
}

.flat-image {
  height: auto;
  width: 100%;
}

.index-header {
  text-align: center;
}

.card-contents {

}


.card-links {
  display: flex;
  justify-content: space-around;
}

