.tab-content li {
  list-style: none;
  text-align: left;
}


a {
  text-decoration: none;
}

.btn-log-out {
justify-content: space-around;
}

.nav-link {
  color: grey;
}

li.tab-pane {
  border-top: 10px;
}

.card-body {
  text-align: left !important;
}

.card-img-bookings {
  height: 140px;
  width: 190px;
  padding-top: 1.5px;
  padding-left: 1.5px;
}


.card-img {
  height: 140px;
  width: 190px;
  padding-top: 1.5px;
  padding-left: 1.5px;
  object-fit: center;
}

.nav-link:hover {
  color:darkgray;
}


.bookings-card {
  margin-top: 2px;
}

.btn-danger {
  color:white;
  background: linear-gradient(to top right, #ff627e 0%, #b83720 100%);
  border: none;
  border-radius: 55px;
  padding: 3px 28px;
  font-size: 15px;
}

.btn-danger:hover {

}

.status-pending {
  color: yellow
}

.status-approved {
  color: green
}

.btn-success {
  color:white;
  border: none;
  border-radius: 5px;
}

.card {
  border: none;
  background-color: #fcfcfc;
}

.card-title {
  margin: 0;
}

.card-header {
  border-bottom: none;
}

.title-edit {
  display: flex;
  align-items: end;
}

.edit-profile-pencil {
  display: flex;
  justify-content: start;
  transform: rotateY(180deg);
}

.big-avatar {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  justify-self: end;
}

.profile {
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 45px;
}

.my-bookings {
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
