.tab-content li {
  list-style: none;
  text-align: left;
}


a {
  text-decoration: none;
}

.btn-log-out {
justify-content: space-around;

.nav-link {
  color: grey;
}

li.tab-pane {
  border-top: 10px;
}

.card-body {
  text-align: left !important;
}

.card-img-bookings {
  height: 140px;
  width: 190px;
  padding-top: 1.5px;
  padding-left: 1.5px;
}


.card-img {
  height: 140px;
  width: 190px;
  padding-top: 1.5px;
  padding-left: 1.5px;
  object-fit: center;
}

.nav-link:hover {
  color:darkgray;
}


.bookings-card {
  margin-top: 2px;
}

.btn-danger {
  color:white;
  background-color: rgb(255, 56, 92);
  border: none;
  border-radius: 5px;
}

.btn-danger:hover {
  color:white;
  background-color: rgb(255, 56, 92);
  border: none;
  border-radius: 5px;
  transform: scale(1.1);
}
