.footer {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top right, #4ca1af 0%,#c4e0e5 100%);
}

#foot-logo{
  margin-left: 45px;
  font-family: 'Roboto', sans-serif;
  a {
    color: black;
    opacity: 0.6;
    text-decoration: none;
  }

  &:hover{
    opacity: 0.9;
  }
}
