.location-div {
  display: flex;
  flex-direction: column;
  width: 210px;
}


.start-div {
  display: flex;
  flex-direction: column;
  width: 210px;
}

.end-div {
  display: flex;
  flex-direction: column;
  width: 210px;
}

.guest-div {
  display: flex;
  flex-direction: column;
  width: 210px;
}

.first-form {
  flex-direction: row;
  margin-bottom: 50px;

}


.first-form-inputs {
  display: flex;
  margin-bottom: 50px;
}


#form-start {
  border-radius: 19px 0px 0px 19px;
  border-right: none;
  height: 45px;
}


#form-end {
  border-radius: 0px 19px 19px 0px;
  border-left: none;
  height: 45px;
}

.form-control {
  &:focus {
    box-shadow: none;
  }
}

#start-date {
  border-right: none;
  border-left: none;
  text-align: end;
  height: 45px;
}

#end-date {
  border-right: none;
  border-left: none;
  text-align: end;
  height: 45px;
}


.go-btn {
    // background: linear-gradient(to top right, #4ca1af 0%,#c4e0e5 100%);
    background-color: #695FAF;
    border-color: #d3d1d126;
    opacity: 1;
    color: white;
    padding: 6px 52px;
    border-radius: 55px;
    font-size: 20px;

    &:hover {

    }
}

#btn-margin {
  margin-right: 200px;
}

.mb-3 {
  font-family: 'poppins', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 60px;
}


.yield-container {
  background-image: url("blob.svg");
}

#svg_home {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: end;
  width: 700px;
  margin-top: 20px;
}

#svg_home2 {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: end;
  width: 700px;
  margin-top: 20px;

}

#blob {
  position: absolute;
  top:50px;
  z-index: -1;
  width: 1000px;
}
