.navbar {
  height: 10px;
  display: flex;
  justify-content: space-between;

  ul li{
    list-style: none;
    margin-right: 45px;
  }
}

#logo{
  margin-left: 45px;
  font-family: 'Roboto', sans-serif;
}
