.navbar {
  height: auto;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: #f4f4f4c2;
  padding: 0;


  ul li{
    list-style: none;
    margin: 0;
    margin-right: 45px;
    margin-right: 45px;
    color: white;
  }
}

#logo{
  margin-left: 45px;
  font-family: 'Roboto', sans-serif;
  a {
    color: white;
    opacity: 1;
    text-decoration: none;
  }

  &:hover{
    opacity: 0.9;
  }
}

.sign-in {
  display: flex;
}

  #host-btn {
    opacity: 1;
    margin-right: 15px;
    color: black;
    border-radius: 19px;
    font-weight: lighter;
    padding: 4px 13px;
  &:hover {
    opacity: 0.9;
  }
  }

#left-cluster-navbar {
  display: flex;
  align-items: center;
  margin-right: 12px;
  ul {
    margin-top: 1rem;
    padding-left: 0;
  }
}


.center {
  display: flex;
  justify-content: center;
}
